{% load static %}
{% if request.user.is_authenticated %}    
    <section class="conteudo">
        <section class="banner">
            <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
            <h1 class="banner__titulo">
                {% if user.is_authenticated %}
                Bem vindo(a) {{user.first_name}} a galeria mais completa de fotos do espaço!
                {% endif %}
            </h1>
        </section>
        <section class="tags">
            <p class="tags__titulo">Busque por tags:</p>
            <ul class="tags__lista">
                {% for value, nome in categorias %}
                <li class="tags__tag">
                    <a href="{% url 'categoria' value %}" style="color: white;">{{nome}}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
{% endif %}
