{% load static %} <!-- carregando os arquivos estaticos -->
{% if usa_capa %}
<section class="conteudo">
    <section class="banner">
        <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
        <h1 class="banner__titulo">
            A galeria mais completa de fotos do espaço!
        </h1>
    </section>
    <section class="tags">
        {% if usa_filtro %}
        <p class="tags__titulo">Busque por tags:</p>
        <ul class="tags__lista">
            <li class="tags__tag"><a href="{% url 'filtro' 'NEBULOSA' %}" class='btn' style="color: white;">Nebulosa</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'ESTRELA' %}" class='btn' style="color: white;">Estrela</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'GALAXIA' %}" class='btn' style="color: white;">Galáxia</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'PLANETA' %}" class='btn' style="color: white;">Planeta</a></li>
        </ul>
        {% endif %}
    </section>
{% endif %}