{% extends 'usuarios/base.html' %} <!-- Trazendo o arquivo base -->
{% load static %} <!-- carregando os arquivos estaticos -->
{% block content %} <!-- Inicio do conteúdo da página -->
            <section class="galeria" style="margin-left: 5em">
                <form action="" method="">
                    {% csrf_token %} <!-- token de segurança -->
                    <div class="row">
                       {% for field in form.visible_fields %} <!-- percorrendo os campos do formulário -->
                       <div>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Cria um rótulo para o campo de formulário com o texto e ID gerados dinamicamente pelo Django -->
                        {{ field }} <!-- Renderiza o campo de formulário -->
                       </div>
                       {% endfor %}
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock content %}