{% extends 'galeria/base.html' %} <!-- Trazendo o arquivo base -->
{% load static %} <!-- carregando os arquivos estaticos -->
{% block content %} <!-- Inicio do conteúdo da página -->
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                    {% if fotografia.foto == '' or fotografia.foto ==  null %} <!-- Se fotografia não tiver foto -->
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                    {% else %} <!-- Se fotografia tiver foto -->
                        <img class="imagem__imagem" src="{{fotografia.foto.url}}" alt="foto">
                    {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{fotografia.nome}}</p>
                                <p class="imagem__descricao">{{fotografia.legenda}}</p>
                                <p class="imagem__texto">{{fotografia.descricao}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock content %} <!-- Fim do conteúdo da página -->