{% extends 'galeria/base.html' %} <!-- Trazendo o arquivo base -->
{% load static %} <!-- carregando os arquivos estaticos -->
{% block content %} <!-- Inicio do conteúdo da página -->
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %} <!-- Se cards existir -->
                            {% for fotografia in cards %} <!-- Para cada fotografia no cards -->
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                {% if fotografia.foto == '' or fotografia.foto ==  null %} <!-- Se fotografia não tiver foto -->
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                                {% else %} <!-- Se fotografia tiver foto -->
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                {% endif %} <!-- Fim do if -->
                                </a>
                                <span class="card__tag">{{ fotografia.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %} <!-- Fim do for -->
                            {% else %} <!-- Se cards não existir -->
                            <div class="imagem__texto">
                                <p>Desculpe, nenhuma fotografia encontrada</p>
                            </div>
                            {% endif %} <!-- Fim do if -->
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock content %} <!-- Fim do conteúdo da página -->